            @font-face {
                font-family: 'TitilliumWeb-Bold';
                font-display: swap;
                src: local('Titillium Web'), url(TitilliumWeb-Bold.ttf);
            }
            @font-face {
                font-family: 'TitilliumWeb-Regular';
                font-display: swap;
                src: local('Titillium Web'), url(TitilliumWeb-Regular.ttf);
            }